.custom-table {
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent background for the table */ 
  color : white
}

.custom-modal .modal-content {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for the modal */
}
